body{
    text-align: center;
}
#connect4{
    background-color: rgb(116, 166, 223);
    padding: 10px;
    border: 7px solid black;
    border-radius: 10px;
    border-style: groove;
    display: inline-block;
}
button{
    display:block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: rgb(204, 161, 82);
    border-radius: 5px;
}

.col{
    width: 85px;
    height: 85px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.col.empty{
    cursor: pointer;
}

.next-red{
    background-color: rgba(225, 0, 0, 0.67);
}
.red {
    background-color: red;
}
.next-black{
    background-color: rgba(0, 0, 0, 0.69);
}
.black{
    background-color: black;
}